BLOCK RESETPATHS;
BLOCK ASYNCPATHS;

LOCATE COMP "CLK48M" SITE "A7";
IOBUF PORT "CLK48M" IO_TYPE=LVCMOS33;
FREQUENCY PORT "CLK48M" 48.0 MHz;

# PMOD A
#LOCATE COMP "TxD" SITE "D4";
#IOBUF PORT "TxD" IO_TYPE=LVCMOS33;
#LOCATE COMP "RxD" SITE "B5";
#IOBUF PORT "RxD" IO_TYPE=LVCMOS33;
LOCATE COMP "ledsa[0]" SITE "E5";
IOBUF PORT "ledsa[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "ledsa[1]" SITE "D4";
IOBUF PORT "ledsa[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "ledsa[2]" SITE "B5";
IOBUF PORT "ledsa[2]" IO_TYPE=LVCMOS33;
LOCATE COMP "ledsa[3]" SITE "C6";
IOBUF PORT "ledsa[3]" IO_TYPE=LVCMOS33;
LOCATE COMP "ledsa[4]" SITE "E4";
IOBUF PORT "ledsa[4]" IO_TYPE=LVCMOS33;
LOCATE COMP "ledsa[5]" SITE "C4";
IOBUF PORT "ledsa[5]" IO_TYPE=LVCMOS33;
LOCATE COMP "ledsa[6]" SITE "B6";
IOBUF PORT "ledsa[6]" IO_TYPE=LVCMOS33;
LOCATE COMP "ledsa[7]" SITE "D6";
IOBUF PORT "ledsa[7]" IO_TYPE=LVCMOS33;

# PMOD B
LOCATE COMP "ledsb[0]" SITE "C8";
IOBUF PORT "ledsb[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "ledsb[1]" SITE "B9";
IOBUF PORT "ledsb[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "ledsb[2]" SITE "A10";
IOBUF PORT "ledsb[2]" IO_TYPE=LVCMOS33;
LOCATE COMP "ledsb[3]" SITE "C10";
IOBUF PORT "ledsb[3]" IO_TYPE=LVCMOS33;
LOCATE COMP "ledsb[4]" SITE "B8";
IOBUF PORT "ledsb[4]" IO_TYPE=LVCMOS33;
LOCATE COMP "ledsb[5]" SITE "A9";
IOBUF PORT "ledsb[5]" IO_TYPE=LVCMOS33;
LOCATE COMP "ledsb[6]" SITE "B10";
IOBUF PORT "ledsb[6]" IO_TYPE=LVCMOS33;
LOCATE COMP "ledsb[7]" SITE "D10";
IOBUF PORT "ledsb[7]" IO_TYPE=LVCMOS33;

# RGB LED
LOCATE COMP "led_b" SITE "C12";
IOBUF PORT "led_b" IO_TYPE=LVCMOS33;
LOCATE COMP "led_g" SITE "A11";
IOBUF PORT "led_g" IO_TYPE=LVCMOS33;
LOCATE COMP "led_r" SITE "B11";
IOBUF PORT "led_r" IO_TYPE=LVCMOS33;

# MMOD
LOCATE COMP "SPI_SS_FLASH" SITE "N8";
IOBUF PORT "SPI_SS_FLASH" IO_TYPE=LVCMOS33;
LOCATE COMP "SPI_MISO" SITE "T7";
IOBUF PORT "SPI_MISO" IO_TYPE=LVCMOS33;
LOCATE COMP "SPI_MOSI" SITE "T8";
IOBUF PORT "SPI_MOSI" IO_TYPE=LVCMOS33;

# MICROSD
LOCATE COMP "SS" SITE "A2";
IOBUF PORT "SS" IO_TYPE=LVCMOS33;
IOBUF PORT "SS" SLEWRATE=FAST;
LOCATE COMP "MOSI" SITE "B3";
IOBUF PORT "MOSI" IO_TYPE=LVCMOS33;
IOBUF PORT "MOSI" SLEWRATE=FAST;
LOCATE COMP "MISO" SITE "B4";
IOBUF PORT "MISO" IO_TYPE=LVCMOS33;
IOBUF PORT "MISO" SLEWRATE=FAST;
IOBUF PORT "MISO" PULLMODE=NONE;
LOCATE COMP "SCLK" SITE "A3";
IOBUF PORT "SCLK" IO_TYPE=LVCMOS33;
IOBUF PORT "SCLK" SLEWRATE=FAST;

# VGA
LOCATE COMP "RGB[0]" SITE "M6";
IOBUF PORT "RGB[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "RGB[1]" SITE "T4";
IOBUF PORT "RGB[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "RGB[2]" SITE "N3";
IOBUF PORT "RGB[2]" IO_TYPE=LVCMOS33;
LOCATE COMP "vsync" SITE "N1";
IOBUF PORT "vsync" IO_TYPE=LVCMOS33;
LOCATE COMP "hsync" SITE "P2";
IOBUF PORT "hsync" IO_TYPE=LVCMOS33;

# PS/2
LOCATE COMP "PS2D" SITE "L1";
IOBUF PORT "PS2D" IO_TYPE=LVCMOS33;
LOCATE COMP "PS2C" SITE "L2";
IOBUF PORT "PS2C" IO_TYPE=LVCMOS33;

LOCATE COMP "msdat" SITE "L3";
IOBUF PORT "msdat" IO_TYPE=LVCMOS33;
LOCATE COMP "msclk" SITE "L4";
IOBUF PORT "msclk" IO_TYPE=LVCMOS33;

LOCATE COMP "SRadr[0]" SITE "J14";
IOBUF PORT "SRadr[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "SRadr[1]" SITE "J13";
IOBUF PORT "SRadr[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "SRadr[2]" SITE "J12";
IOBUF PORT "SRadr[2]" IO_TYPE=LVCMOS33;
LOCATE COMP "SRadr[3]" SITE "G14";
IOBUF PORT "SRadr[3]" IO_TYPE=LVCMOS33;
LOCATE COMP "SRadr[4]" SITE "G13";
IOBUF PORT "SRadr[4]" IO_TYPE=LVCMOS33;
LOCATE COMP "SRadr[5]" SITE "N13";
IOBUF PORT "SRadr[5]" IO_TYPE=LVCMOS33;
LOCATE COMP "SRadr[6]" SITE "P14";
IOBUF PORT "SRadr[6]" IO_TYPE=LVCMOS33;
LOCATE COMP "SRadr[7]" SITE "P13";
IOBUF PORT "SRadr[7]" IO_TYPE=LVCMOS33;
LOCATE COMP "SRadr[8]" SITE "P12";
IOBUF PORT "SRadr[8]" IO_TYPE=LVCMOS33;
LOCATE COMP "SRadr[9]" SITE "N12";
IOBUF PORT "SRadr[9]" IO_TYPE=LVCMOS33;
LOCATE COMP "SRadr[10]" SITE "B12";
IOBUF PORT "SRadr[10]" IO_TYPE=LVCMOS33;
LOCATE COMP "SRadr[11]" SITE "A12";
IOBUF PORT "SRadr[11]" IO_TYPE=LVCMOS33;
LOCATE COMP "SRadr[12]" SITE "A13";
IOBUF PORT "SRadr[12]" IO_TYPE=LVCMOS33;
LOCATE COMP "SRadr[13]" SITE "B13";
IOBUF PORT "SRadr[13]" IO_TYPE=LVCMOS33;
LOCATE COMP "SRadr[14]" SITE "C13";
IOBUF PORT "SRadr[14]" IO_TYPE=LVCMOS33;
LOCATE COMP "SRadr[15]" SITE "A15";
IOBUF PORT "SRadr[15]" IO_TYPE=LVCMOS33;
LOCATE COMP "SRadr[16]" SITE "B14";
IOBUF PORT "SRadr[16]" IO_TYPE=LVCMOS33;
LOCATE COMP "SRadr[17]" SITE "A14";
IOBUF PORT "SRadr[17]" IO_TYPE=LVCMOS33;
LOCATE COMP "SRadr[18]" SITE "D13";
IOBUF PORT "SRadr[18]" IO_TYPE=LVCMOS33;

LOCATE COMP "SRdat[0]" SITE "F12";
IOBUF PORT "SRdat[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "SRdat[1]" SITE "E14";
IOBUF PORT "SRdat[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "SRdat[2]" SITE "K15";
IOBUF PORT "SRdat[2]" IO_TYPE=LVCMOS33;
LOCATE COMP "SRdat[3]" SITE "K16";
IOBUF PORT "SRdat[3]" IO_TYPE=LVCMOS33;
LOCATE COMP "SRdat[4]" SITE "J15";
IOBUF PORT "SRdat[4]" IO_TYPE=LVCMOS33;
LOCATE COMP "SRdat[5]" SITE "J16";
IOBUF PORT "SRdat[5]" IO_TYPE=LVCMOS33;
LOCATE COMP "SRdat[6]" SITE "H14";
IOBUF PORT "SRdat[6]" IO_TYPE=LVCMOS33;
LOCATE COMP "SRdat[7]" SITE "H15";
IOBUF PORT "SRdat[7]" IO_TYPE=LVCMOS33;
LOCATE COMP "SRdat[8]" SITE "G15";
IOBUF PORT "SRdat[8]" IO_TYPE=LVCMOS33;
LOCATE COMP "SRdat[9]" SITE "F16";
IOBUF PORT "SRdat[9]" IO_TYPE=LVCMOS33;
LOCATE COMP "SRdat[10]" SITE "F15";
IOBUF PORT "SRdat[10]" IO_TYPE=LVCMOS33;
LOCATE COMP "SRdat[11]" SITE "E16";
IOBUF PORT "SRdat[11]" IO_TYPE=LVCMOS33;
LOCATE COMP "SRdat[12]" SITE "E15";
IOBUF PORT "SRdat[12]" IO_TYPE=LVCMOS33;
LOCATE COMP "SRdat[13]" SITE "D16";
IOBUF PORT "SRdat[13]" IO_TYPE=LVCMOS33;
LOCATE COMP "SRdat[14]" SITE "C14";
IOBUF PORT "SRdat[14]" IO_TYPE=LVCMOS33;
LOCATE COMP "SRdat[15]" SITE "C16";
IOBUF PORT "SRdat[15]" IO_TYPE=LVCMOS33;

LOCATE COMP "SRAM0_CS" SITE "G12";
IOBUF PORT "SRAM0_CS" IO_TYPE=LVCMOS33;
LOCATE COMP "SRAM0_OE" SITE "B15";
IOBUF PORT "SRAM0_OE" IO_TYPE=LVCMOS33;
LOCATE COMP "SRAM0_WE" SITE "G16";
IOBUF PORT "SRAM0_WE" IO_TYPE=LVCMOS33;
LOCATE COMP "SRAM0_LB" SITE "C15";
IOBUF PORT "SRAM0_LB" IO_TYPE=LVCMOS33;
LOCATE COMP "SRAM0_UB" SITE "B16";
IOBUF PORT "SRAM0_UB" IO_TYPE=LVCMOS33;

LOCATE COMP "SRdat[16]" SITE "L13";
IOBUF PORT "SRdat[16]" IO_TYPE=LVCMOS33;
LOCATE COMP "SRdat[17]" SITE "L14";
IOBUF PORT "SRdat[17]" IO_TYPE=LVCMOS33;
LOCATE COMP "SRdat[18]" SITE "M13";
IOBUF PORT "SRdat[18]" IO_TYPE=LVCMOS33;
LOCATE COMP "SRdat[19]" SITE "P11";
IOBUF PORT "SRdat[19]" IO_TYPE=LVCMOS33;
LOCATE COMP "SRdat[20]" SITE "R12";
IOBUF PORT "SRdat[20]" IO_TYPE=LVCMOS33;
LOCATE COMP "SRdat[21]" SITE "T13";
IOBUF PORT "SRdat[21]" IO_TYPE=LVCMOS33;
LOCATE COMP "SRdat[22]" SITE "R13";
IOBUF PORT "SRdat[22]" IO_TYPE=LVCMOS33;
LOCATE COMP "SRdat[23]" SITE "T14";
IOBUF PORT "SRdat[23]" IO_TYPE=LVCMOS33;
LOCATE COMP "SRdat[24]" SITE "T15";
IOBUF PORT "SRdat[24]" IO_TYPE=LVCMOS33;
LOCATE COMP "SRdat[25]" SITE "R15";
IOBUF PORT "SRdat[25]" IO_TYPE=LVCMOS33;
LOCATE COMP "SRdat[26]" SITE "R16";
IOBUF PORT "SRdat[26]" IO_TYPE=LVCMOS33;
LOCATE COMP "SRdat[27]" SITE "P15";
IOBUF PORT "SRdat[27]" IO_TYPE=LVCMOS33;
LOCATE COMP "SRdat[28]" SITE "P16";
IOBUF PORT "SRdat[28]" IO_TYPE=LVCMOS33;
LOCATE COMP "SRdat[29]" SITE "N14";
IOBUF PORT "SRdat[29]" IO_TYPE=LVCMOS33;
LOCATE COMP "SRdat[30]" SITE "N16";
IOBUF PORT "SRdat[30]" IO_TYPE=LVCMOS33;
LOCATE COMP "SRdat[31]" SITE "L16";
IOBUF PORT "SRdat[31]" IO_TYPE=LVCMOS33;

LOCATE COMP "SRAM1_CS" SITE "L12";
IOBUF PORT "SRAM1_CS" IO_TYPE=LVCMOS33;
LOCATE COMP "SRAM1_OE" SITE "M15";
IOBUF PORT "SRAM1_OE" IO_TYPE=LVCMOS33;
LOCATE COMP "SRAM1_WE" SITE "R14";
IOBUF PORT "SRAM1_WE" IO_TYPE=LVCMOS33;
LOCATE COMP "SRAM1_LB" SITE "L15";
IOBUF PORT "SRAM1_LB" IO_TYPE=LVCMOS33;
LOCATE COMP "SRAM1_UB" SITE "M16";
IOBUF PORT "SRAM1_UB" IO_TYPE=LVCMOS33;
